<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoSmBjfiOXbQOA1wDR9ZQC1mLwNNUBHwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668580649175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grgnjhyxxk.Circles</string>
	<key>PROJECT_ID</key>
	<string>circles-grgnjhyxxk</string>
	<key>STORAGE_BUCKET</key>
	<string>circles-grgnjhyxxk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668580649175:ios:44845fe336f3fbd36f3892</string>
</dict>
</plist>